/*  your css code here. If applicable */
body{
	background-color:mediumpurple
}
#buttons{
	margin:200px;
	display:flex;
	justify-content:center;
	
}
.btn{
	margin-right:20px;
	width:400px;
	height:75px;
	padding:20px 20px 20px 20px;
	background-color:rebeccapurple;
}
.stop{
	margin-right:20px;
	width:400px;
	height:75px;
	padding:20px 20px 20px 20px;
	background-color:rebeccapurple;
}